body {
	margin: 0;
	font-family: Times New Roman, Arial, 'Helvetica', sans-serif;
}

header {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20;
	background-color: black;
}

header h1 {
	color: white;
}

header img {
	border-radius: 250px;
	width: 300px;
}