body {
	margin: 0;
	font-family: 'Times New Roman', 'Arial', 'Helvetica', sans-serif;
}

header {
	text-align: center;
	background-color: black;
	padding-top: 20px;
	padding-bottom: 0px;
}

header h1 {
	color: white;
}

header img {
	border-radius: 100%;
	width: 300px;
}

main{
	max-height: 800px;

}

main img{
	max-height: 100%;
}